    /* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-transparent);
    --color-accent: var(--color-teal);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #009688;
    --color-orange: #FFA726;
    --color-gray: #1b1e26;
    --color-teal: #004D40;
    --color-transparent: rgba(5, 10, 19, 0.8);
    
/* Size */
  --size-max-width: 1200px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0.5rem 3rem;
}

ul, ol, li{
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color; transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* Common Section Styles */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

.title {
    font-size: 3rem;
    margin: 1rem 0;
}

.subtitle {
    font-size: 2rem; 
    margin: 0;
}

.description {
    font-size: 1rem; 
    margin: 2rem 0;
}

/* Header */
.header {
    background-color: var(--color-transparent);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 1000;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
   border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;

}

/* Home */
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 10rem;
    text-align: center;
}

.home__img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    font-size: 2rem;
    color: var(--color-accent);
}
.home__description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-accent);
    outline: 2px solid var(--color-accent);
}

/* About Me */
.majors {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.major {
    background-color: var(--color-accent);
    padding: 2rem 1rem;
    color: var(--color-text);
    background-size: space-between;
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    width: 100%;
    gap: 1rem;
    white-space: nowrap;
}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent-variant);
    text-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    transition: all 300ms ease;
}

.major__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
}

.jobs {
    text-align: start;

}

.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name{
    color: var(--color-primary);
}

.job__period {
    color: var(--color-accent);
    font-size: 0.9rem;
}

/* Skills */
#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills {
    justify-content: relative;
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.skills__title {
    color: var(--color-accent-variant);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;
    background-color: var(--color-gray); 
}

.skills__Personality {
    padding: 1rem;
    background-color: var(--color-gray);
    filter: brightness(150%);
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata {
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 8px;
    background-color: var(--color-transparent);
}

.bar__value {
    background-color: var(--color-accent);
    height: 8px;
}

/* Projects */
#projects {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    column-gap: 0.5rem;
    height: 40px;
}

.category {
    position: relative;
    color: var(--color-accent);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    gap: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}

.category--selected {
    background-color: var(--color-accent);
    color: var(--color-text)
}

.category__count {
    opacity: 0;
 position: absolute;
 transition: all 100ms ease;
 top: -20px;
 right: 5px;
 width: 28px;
 height: 28px;
 line-height: 28px;
 border-radius: 100%;
 background-color: var(--color-accent-variant);
 color: var(--color-text)
}

.category:hover {
    background-color: var(--color-accent);
    color: var(--color-primary)
    filter: brightness(1.2);
}

.category--selected .category__count, 
.category:hover .category__count {
    opacity: 1;
    top: 0;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.project__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.project__metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}

.project__metadata:hover {
    opacity: 0.8;
    transition: opacity 300ms ease-in;
    cursor: pointer;
    transform: translateY(0px);
}

.project__metadata__title:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent-variant);
    margin: 0.5rem 0;
    align-items: center;
}